{% set isLiked = false %}
<div class="relative border border-gray-200 dark:border-gray-600 rounded-lg p-4 my-4">
    <div class="flex items-center">
        {% if comment.createdBy.profilePicture %}
            <img class="w-8 h-8 rounded-full mr-4"
                 src="{{ asset('uploads/profile_pictures/') }}{{ comment.createdBy.profilePicture }}"
                 alt="Jane Doe's avatar">
        {% else %}
            <img class="w-8 h-8 rounded-full mr-4"
                 src="https://ui-avatars.com/api/?background=random&name={{ comment.createdBy.pseudo }}"
                 alt="Jane Doe's avatar">
        {% endif %}
        <div>
            <h4 class="font-bold dark:text-gray-200">{{ comment.createdBy.pseudo }}</h4>
            <p class="text-gray-500">Le {{ comment.createdAt|date('d/m/Y à H:i') }}</p>
        </div>
        {% if app.user == comment.createdBy %}
            {{ include('_includes/delete-comment.html.twig') }}
        {% endif %}
    </div>
    <p class="mt-4 dark:text-gray-200">{{ comment.content }}</p>
    {% if app.user %}
        {{ include('_includes/like-comment.html.twig') }}
    {% endif %}
</div>