{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {{ include('_includes/navigation.html.twig') }}
    <div class="max-w-xl mx-auto mt-28">
        {% if app.user and app.user.verified %}
            <div class="border border-gray-200 dark:border-gray-600 rounded-lg p-4 my-4">
                {{ form_start(form) }}
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2 dark:text-gray-200" for="tweet_content">Say
                        something funny</label>
                    {{ form_widget(form.content) }}
                </div>
                <div class="flex items-center">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            type="submit">Post
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        {% else %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4" role="alert">
                Verify your email address to post a tweet.
            </div>
        {% endif %}
        <div>
            <h2 class="text-xl font-bold mb-4 dark:text-gray-200">Recent Tweets</h2>
            <ul>
                {% if articles|length == 0 %}
                    <li class="border border-gray-200 rounded-lg p-4 my-4">
                        <p class="text-gray-500">No tweets found.</p>
                    </li>
                {% endif %}
                {% for article in articles|reverse %}
                    <li class="border border-gray-200 rounded-lg p-4 my-4">
                        <div class="flex items-center">
                            {% if article.createdBy.profilePicture %}
                                <img class="w-12 h-12 rounded-full mr-4 object-cover"
                                     src="{{ asset('uploads/profile_pictures/') }}{{ article.createdBy.profilePicture }}"
                                     alt="John Doe's avatar">
                            {% else %}
                                <img class="w-12 h-12 rounded-full mr-4 object-cover"
                                     src="https://ui-avatars.com/api/?background=random&name={{ article.createdBy.pseudo }}"
                                     alt="John Doe's avatar">
                            {% endif %}
                            <div>
                                <h3 class="font-bold dark:text-gray-200">{{ article.createdBy.pseudo }}</h3>
                                <p class="text-gray-500 dark:text-gray-400">Posté
                                    le {{ article.createdAt|date("d/m/Y à H:i") }}</p>
                            </div>
                        </div>
                        <p class="mt-4 dark:text-gray-200">{{ article.content }}</p>
                        <div class="flex items-center mt-4">
                            <button class="flex text-gray-500 dark:text-gray-400 hover:text-blue-500">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" width="22.8375" height="21.5838">
                                    <g>
                                        <rect height="21.5838" opacity="0" width="22.8375" x="0" y="0"/>
                                        <path d="M0 7.46965C0 12.3529 4.26715 17.1504 10.7021 21.3183C10.9119 21.4488 11.2054 21.5838 11.4188 21.5838C11.6322 21.5838 11.9256 21.4488 12.1398 21.3183C18.5704 17.1504 22.8375 12.3529 22.8375 7.46965C22.8375 3.45926 20.077 0.609493 16.3855 0.609493C14.2684 0.609493 12.427 1.69523 11.4188 3.37535C10.4266 1.70332 8.5691 0.609493 6.45199 0.609493C2.76047 0.609493 0 3.45926 0 7.46965ZM1.45078 7.46965C1.45078 4.24711 3.56813 2.05664 6.43582 2.05664C8.60988 2.05664 9.96633 3.40594 10.7636 4.74856C11.0146 5.13375 11.1811 5.24813 11.4188 5.24813C11.6564 5.24813 11.8068 5.12567 12.0703 4.74856C12.9116 3.42211 14.2321 2.05664 16.4017 2.05664C19.2694 2.05664 21.3867 4.24711 21.3867 7.46965C21.3867 11.8617 16.803 16.5064 11.6285 19.9532C11.5331 20.0207 11.4656 20.0684 11.4188 20.0684C11.3719 20.0684 11.3044 20.0207 11.2171 19.9532C6.03446 16.5064 1.45078 11.8617 1.45078 7.46965Z"
                                              fill="#ffffff" fill-opacity="0.85"/>
                                    </g>
                                </svg>


                                <span class="ml-2">{{ article.likes|length }}</span>
                            </button>
                            <a href="{{ path('app_article', {'id': article.id}) }}"
                               class="flex ml-4 text-gray-500 dark:text-gray-400 hover:text-blue-500">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" width="26.1567" height="23.9405">
                                    <g>
                                        <rect height="23.9405" opacity="0" width="26.1567" x="0" y="0"/>
                                        <path d="M4.96969 23.9332C6.42094 23.9332 9.37922 22.5683 11.7 21.0144C19.5483 21.4914 26.1567 16.9165 26.1567 10.5397C26.1567 4.71785 20.3558 0 13.0784 0C5.8009 0 0 4.71785 0 10.5397C0 14.3544 2.45367 17.7246 6.15316 19.4791C5.62582 20.4769 4.70684 21.6926 4.19766 22.3404C3.60562 23.0953 3.9116 23.9332 4.96969 23.9332ZM5.82235 22.442C5.7286 22.4663 5.70071 22.4032 5.76657 22.3175C6.36832 21.5816 7.32036 20.4101 7.75149 19.5547C8.00332 19.0761 7.92856 18.6606 7.36746 18.3962C3.69504 16.6925 1.49848 13.8277 1.49848 10.5397C1.49848 5.53887 6.63844 1.48676 13.0784 1.48676C19.53 1.48676 24.6663 5.53887 24.6663 10.5397C24.6663 15.5325 19.53 19.5919 13.0784 19.5919C12.6987 19.5919 12.2482 19.5656 11.7177 19.5357C11.3345 19.5321 11.0104 19.6409 10.6595 19.9052C9.00012 20.9809 6.85606 22.1573 5.82235 22.442Z"
                                              fill="#ffffff" fill-opacity="0.85"/>
                                    </g>
                                </svg>

                                <span class="ml-2">{{ article.comments|length }}</span>
                            </a>
                        </div>
                        <div class="mt-4">
                            {% for comment in article.comments %}
                                <div class="border border-gray-200 rounded-lg p-4 my-4">
                                    <div class="flex items-center">
                                        <img class="w-8 h-8 rounded-full mr-4"
                                             src="https://picsum.photos/id/1006/200/200"
                                             alt="Jane Doe's avatar">
                                        <div>
                                            <h4 class="font-bold">Jane Doe</h4>
                                            <p class="text-gray-500">April 28, 2023 at 2:35 PM</p>
                                        </div>
                                    </div>
                                    <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod
                                        ante vitae elit posuere, non pellentesque nisl hendrerit.</p>
                                </div>
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
