{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {{ include('_includes/navigation.html.twig') }}
    {% set isMore3CommentToDisplay = false %}
    <div class="max-w-xl mx-auto mt-28">
        {% for message in app.flashes('success') %}
            <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded mb-4" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <div>
            <h2 class="text-xl font-bold mb-4 dark:text-gray-200">Search results for "{{ query }}"</h2>
            <ul>
                {% if articles|length == 0 %}
                    <li class="border border-gray-200 rounded-lg p-4 my-4">
                        <p class="text-gray-500">No tweets found with "{{ query }}".</p>
                    </li>
                {% else %}
                    <p class="text-gray-500 dark:text-gray-400">{{ articles|length }} Articles found</p>
                {% endif %}
                {% for article in articles|reverse %}
                    {{ include('article/article.html.twig') }}
                {% endfor %}
            </ul>
        </div>
    </div>

    <script src="{{ asset('js/like.js') }}"></script>
    <script src="{{ asset('js/likeComment.js') }}"></script>
{% endblock %}
